<%= render 'layouts/menu', page: "Editar contato" %>

<div class="ui container form">
  <h1 class="ui dividing header">
    Editar contato
    <%= link_to contact_lists_path, class: "icon-title", title: "Voltar para lista de contatos" do %>
      <i class="users icon teal"></i>
    <% end -%>
  </h1>


  <%= render partial: 'form', locals: { button_name: "Atualizar contato" } %>

</div>
