<%= render 'layouts/menu', page: "Lista de contatos" %>

<!-- List -->
<div class="ui container">
  <h1 class="ui dividing header">
    Contatos
    <%= link_to new_contact_list_path, class: "icon-title", title: "Adicionar contato" do %>
      <i class="add user icon"></i>
    <% end -%>
  </h1>
  
  <% if @contact_lists.count > 0 %>
    <%= render 'table_contacts' %>
  <% else %>
    <div class="ui visible message">
      <p lingdex="12">Nenhum contato cadastrado.</p>
    </div>
  <% end %>


  <!-- /List -->
</div>