<%= render 'layouts/menu', page: "Novo contato" %>

<div class="ui container">
  <h1 class="ui dividing header">
    Adicionar novo contato
    <%= link_to contact_lists_path, class: "icon-title", title: "Voltar para lista de contatos" do %>
      <i class="users icon teal"></i>
    <% end -%>
  </h1>

  <%= render partial: 'form', locals: { button_name: "Criar contato" } %>

</div>