/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

// User views
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}

// Icons
i.icon, i.icons {
  font-size: 1.4em;
}
h1 {
  .icon-title {
    float: right;
    
    i {
      font-size: 0.95em;
    }
  }
}
.ui.menu .item > i.icon{
  margin: 0;
}

// All pages except user views
.ui.inverted.menu {
  margin-top: 0;
  border-radius: 0;
}

// Forms
body {
  .container.form{
    max-width: 600px !important;
  }
}